[Unit]
Description=XEngine_StreamMedia JT1078App
After=network.target XStreamCenter.service
 
[Service]
Type=simple  
WorkingDirectory=/home/ubuntu/XEngine_StreamMedia/XEngine_Release/
ExecStart=/home/ubuntu/XEngine_StreamMedia/XEngine_Release/XEngine_JT1078App
ExecStop=killall XEngine_JT1078App
 
[Install]
WantedBy=multi-user.target
